@tailwind base;
@tailwind components;
@tailwind utilities;

/* PPA Theme Color */
.bg-ppa-themecolor { background-color: #132E51; }
.ppa-theme-active { background-color: #132E51; }
.ppa-nav li a { font-size: 15px; }
.ppa-nav li a.active { background-color: #132E51; color: #fff; }
.ppa-content { padding: 0px 0px 0px 288px; background-color: #F9F9F9; }
.text-pdf { font-size: 13px; }

/* PPA Widget */
.ppa-widget-title { background-color: #132E51; color: #fff; padding: 6px 10px; font-size: 20px; }
.ppa-widget { border: 1px solid #cecece; background-color: #fff; box-shadow: 0px 0px 10px #888888; border-radius: 5px; }
.joms-dashboard-title { background-color: #132E51; color: #fff; padding: 5px; font-size: 18px; font-weight: 600; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.joms-count { font-size: 3rem; font-weight: 600; padding-left: 10px; color: #272727; }
.joms-word-count { position: relative; top: -10px; left: 10px; font-family: cursive; font-weight: 100; }
.ppa-system-link { transition: 300ms; cursor: pointer; background-color: #cecece; text-align: center; padding: 5px 0px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.ppa-system-link:hover { background-color: #A3A3A3; }

/* Esig Form */
.ppa-esignature-prf, 
.ppa-esig-sup-prf, 
.ppa-esig-gso-prf,
.ppa-esig-admin-prf,
.ppa-esig-inspector-prf { position: absolute; width: 200px; top: -40px; left: 30px; }
.ppa-esig-user-fvf, .ppa-esig-admin-fvf { position: absolute; width: 200px; top: -20px; left: 75px; }
.ppa-esig-user-vs, .ppa-esig-admin-vs { position: absolute; width: 200px; top: -13px; left: 30px; }

/* Sidebar */
.text-title { font-size: 30px; text-transform: uppercase; color: #fff; padding-bottom: 10px; border-bottom: 2px solid; }
.ppa-hamburger { width: 24px; right: 80px; top: 31px; position: absolute; }
.ham-haha { font-size: 20px; color: #000; }
.sidebar-close { width: 4%; padding: 0px; }
.adjust-content { padding: 0px 0px 0px 75px; }
.not-minimized { padding: 0px 30px; height: 100vh; }
.minimized { height: 100vh; padding: 0px 20px; }
.nav-min { text-align: center; }
.first-letter { font-size: 40px; font-weight: 900; }
.submenu { position: absolute; top: calc(100% + 5px); left: 0; background-color: #fff; border: 1px solid #ccc; padding: 10px; transition: opacity 0.3s ease, visibility 0.3s ease; opacity: 0; visibility: hidden; }

/* Scroll for Sidebar */
.ppa-sidebar { overflow: auto; position: absolute; }
.ppa-sidebar::-webkit-scrollbar-track { border-radius: 10px; background-color: #132E51; }
.ppa-sidebar::-webkit-scrollbar { width: 10px; background-color: transparent; }
.ppa-sidebar::-webkit-scrollbar-thumb { border-radius: 10px; background-color: transparent; transition: width 3s ease; }
.ppa-sidebar:hover::-webkit-scrollbar-thumb { background-color: #4A6589; transition: width 3s ease; }

/* Scroll for  Body */
body { overflow: auto; }
body::-webkit-scrollbar-track { border-radius: 10px; background-color: transparent;}
body::-webkit-scrollbar { width: 10px; background-color: transparent; }
body::-webkit-scrollbar-thumb { border-radius: 10px; background-color: transparent; transition: width 3s ease; }
body:hover::-webkit-scrollbar-thumb { background-color: #4A6589; transition: width 3s ease; }

/* Scroll for Logs and Pending */
.request-sec::-webkit-scrollbar-track { border-radius: 10px; background-color: transparent; }
.request-sec::-webkit-scrollbar { width: 10px; background-color: transparent; }
.request-sec::-webkit-scrollbar-thumb { border-radius: 10px; background-color: transparent; transition: width 3s ease; }
.request-sec:hover::-webkit-scrollbar-thumb { background-color: #4A6589; transition: width 3s ease; }


/* Footer */
.footer { padding: 24px 0px; background-color: #F9F9F9; }
.footer p { font-size: 14px; margin-right: 30px; font-weight: 700; }

/* Show submenu when menuOpen state is true */
.ppa-accordion { min-height: 45vh; }
.ppa-accordion > li > .accordion-toggle { position: absolute; opacity: 0; display: none; }
.ppa-accordion > li > section{ height: 0; transition: .8s all; overflow: hidden; }
.ppa-accordion > li > .accordion-toggle:checked ~ label > span.icon-arrow{ transform: rotate(90deg); transition: .3s all; }
.ppa-accordion > li > .accordion-toggle:not(:checked) ~ label > span.icon-arrow{ transform: rotate(0deg); transition: .3s all; }
.ppa-accordion > li > .accordion-toggle:checked ~ section{ height: 150px; }
.ppa-accordion > li > section p { margin: 15px 0; padding: 0 20px; font-size: 12px; line-height: 1.5; }

/* Icons */
.notification-icon { color: #132E51; padding: 5px 5px; border-radius: 20px; }
.notification-icon:hover { background-color: #132E51; transition: 250ms; color: #fff; }

/* Text */
p.lower-text { font-size: 12px; color: #848884; }

/* Table Style */
.ppa-table { margin: auto; min-width: 300px; max-height: 100%; border-collapse: collapse; }
.ppa-table tr th { border: 0; background: #4A6589; color: #fff; }
.ppa-table tbody tr:nth-child(odd) { background-color: #ebf3f9; }

.section { border: 1px #c3c3c3 solid; }

/* Table Pagination */
.pagination { display: flex; list-style: none; padding: 0; margin: 0; user-select: none; margin-top: 10px; }

/* Dashboard */
.title { font-size: 30px; font-weight: 900; }
.title h2 { font-size: 20px; text-transform: uppercase; font-weight: 900; }
.pagination li.active { background-color: #4A6589 !important; color: #FFF; font-weight: 500; padding: 1px 7px; border-radius: 5px; }
.pagination li { margin: 0 5px; cursor: pointer; background-color: #D3D3D3; padding: 0px 7px; border-radius: 5px; }
.pagination a.page-link { font-size: 12px; }

/* Popup Style */
.popup-title { font-size: 25px; padding: 10px 0px; font-weight: 500; }
.popup-message { color: #808080; }
.popup-confirm { background-color: #7393B3; color: #fff; border-radius: 20px; padding: 8px 0px; }
.popup-confirm:hover { background-color: #819ebb !important; transition: 250ms; }
.popup-cancel { border: 1px solid #36454F; margin-left: 10px; border-radius: 20px; }
.popup-cancel:hover { background-color: #36454F !important; transition: 250ms; color: #fff; }

/* Buttons */
.btn-process { background-color: #6495ED; color: #fff; border-radius: 20px; }
.btn-submitting { background-color: #40E0D0 !important; cursor: no-drop; position: relative; }
.btn-error { background-color: #C41E3A; color: #fff; border-radius: 20px; }
.btn-error:hover { background-color: #f26f85; transition: 250ms; }
.btn-success { background-color: #0096FF; color: #fff; border-radius: 20px; }
.btn-success:hover { background-color: #4ab1f9; transition: 250ms; }
.btn-submit{ background-color: #4169E1; color: #fff; border-radius: 20px; }
.btn-submit:hover { background-color: #557ae9 !important; transition: 250ms; }
.btn-cancel { background-color: #C41E3A; color: #fff; border-radius: 20px; }
.btn-cancel:hover { background-color: rgb(204, 101, 118); transition: 250ms; }
.btn-close { background-color: #C41E3A; color: #fff; border-radius: 20px; }
.btn-close:hover { background-color: #f26f85; transition: 250ms; }
.btn-closing { background-color: #f26f85; cursor: no-drop; position: relative; top: 3px; }
.btn-pdf { background-color: #50C878; color: #fff; border-radius: 20px; }
.btn-pdf:hover { background-color: #52aa6f; transition: 250ms; }
.btn-genpdf { background-color: #52aa6f; cursor: no-drop; position: relative; top: 3px; }
.btn-default { background-color: #132E51; color: #fff; border-radius: 20px; }
.btn-default:hover { background-color: rgb(102, 123, 190); transition: 250ms; }
.btn-default:disabled { display: none; }
.btn-edit { background-color: #87CEEB; border-radius: 20px; position: relative; top: -2px; }

/* Dashboard */
.dashboard-title { color: #7171a6; font-weight: 900; }
.count-det { font-size: 50px; font-weight: 900; color: #101010; }
.year-count { position: relative; top: 36px; margin-right: 10px; color: #fff; }
.icon-here { color: #fff; position: relative; top: 8px; left: 10px; }
.pending-title { font-weight: 900; font-size: 25px; }
.pending-request { padding: 10px; }

/* Inspection Details */
.request-sec { background-color: #fff; box-shadow: 0px 0px 10px #888888; padding: 10px; margin: 0px 5px; border-radius: 10px; }

/* Forms */
input:focus, textarea:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  --tw-ring-inset: var(--tw-empty) !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: #fff !important;
  --tw-ring-color: #4A6589 !important;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
  border-color: #4A6589 !important;
}
.ppa-form-request { border: 1px solid #808080; background-color: #eee; color: #555; padding: 10px; border-radius: 5px; }
.ppa-form { border: 1px solid #808080; border-radius: 5px; padding: 10px; }
.cost { padding-left: 20px; }
.ppa-form-cost { border: 1px solid #808080; border-radius: 5px; padding: 10px 10px 10px 25px; }
.ppa-checklist { border: 1px solid #272727; padding: 3px 8px; margin-right: 15px; background-color: #eee; border-radius: 5px; height: 30px; width: 28px;}
.form-text{ font-size: 15px; }
.form-validation{ font-size: 11px; font-weight: 900; color: #8B0000; padding-top: 5px; }
.input-placeholder::placeholder { color: #A9A9A9; font-style: italic; }
.input-placeholder { color: #272727; }
.icon-form { color: #A9A9A9; }

/* Notification Style */
.notifications { color: #ffff; background-color: #ff0000; border-radius: 25px; padding: 12px 8px; line-height: 0px; font-size: 14px; position: absolute; left: 15px; top: -6px; }

/* Forbidden Style */
.Forbidden-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noentry {
  margin: 45px;
  width: 300px;
  height: 300px;
  background-color: #e23c40;
  border: solid 3px #e23c40;
  border-radius: 50%;
 }

.entry-p {
  color: #fff;
  font-size: 8em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
  top: 30px;
}

p.sign-txt {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
  top: -4px;
}

.forbidden-message {
  position: relative;
  top: -35px;
}

.forbidden-message p {
  font-size: 20px;
  text-align: center;
}

.forbidden-message h1 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.forbidden-title {
  font-size: 20px;
}

/* Style to show the submenu when the parent is hovered */
.parent:hover .submenu {
  display: block;
}

/* Login Page */
.ppa-cover {
  background-size: 120% 220%;
  background-repeat: no-repeat;
  background-position: 82% 16%;
}
.ppa-col {
  background-color: rgba(255, 255, 255, 0.85); 
}

/* Animation */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s infinite;
}

/* For the Form */
.title-area{ font-size: 11px; }
.content-area { font-size: 10px; }

/* Table size */
.custom-column {
  width: 200px; /* Adjust the width as needed */
}

.ppa-table thead {
  display: table-header-group;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Animation Check */
.checkmark_circle_success {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5px;
  stroke-miterlimit: 10;
  stroke: #00C851;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark_circle_error {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5px;
  stroke-miterlimit: 10;
  stroke: #ff4444;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  stroke-width: 5px;
  stroke: white;
  stroke-miterlimit: 10;
  margin: 10% auto;
}
.checkmark.success {
  box-shadow: inset 0px 0px 0px #00C851;
  animation: fillsuccess 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
}
.progress {
  transform: rotate(-90deg);
  stroke: black;
}

.progress circle {
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  animation: dash 1.5s infinite;
}

@keyframes dash {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -130;
  }
}
.progress {
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.progress--thin {
  left: auto;
  right: 5%;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fillsuccess {
  100% {
    box-shadow: inset 0px 0px 0px 75px #00C851;
  }
}
.arrange {
  position: relative;
  top: 5px !important;
}

/* Animation Question Mark */
.question-mark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5px;
  stroke-miterlimit: 10;
  stroke: #000;
  animation: questionMarkStroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

@keyframes questionMarkStroke {
  100% {
    stroke-dashoffset: 0;
  }
}

.question-mark {
  font-size: 24px;
  text-anchor: middle;
  fill: #000;
  animation: questionMarkFadeIn 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

@keyframes questionMarkFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main CSS */
.ppa-align {
  align-items: center;
  display: flex;
}

.underline-txt p {
  display: block;
  border-bottom: 1px solid;
}

/* For Eqiuipment Form Page */
.table-ppa span {
  position: absolute;
  top: 9px;
}

.table-ppa-2 {
  position: absolute;
  top: 44px;
}

.underline-text {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

/* Notification Alert */
.f-modal-alert .f-modal-icon {
  border-radius: 50%;
  border: 4px solid #A5DC86;
  box-sizing: content-box;
  height: 130px;
  margin: 20px auto;
  padding: 0;
  position: relative;
  width: 130px;
}
.f-modal-alert .f-modal-icon.f-modal-success {
  background-color: #A5DC86;
}

.f-modal-alert .f-modal-icon.f-modal-error {
  border-color: #da1e28;
}

.f-modal-alert .f-modal-icon.f-modal-success .f-modal-placeholder, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-placeholder {
  border-radius: 50%;
  border: 4px solid rgba(165, 220, 134, 0.2);
  box-sizing: content-box;
  height: 80px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 80px;
  z-index: 2;
}
.f-modal-alert .f-modal-icon.f-modal-success .f-modal-fix, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-fix {
  background-color: #fff;
  height: 90px;
  left: 28px;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 5px;
  z-index: 1;
}
.f-modal-alert .f-modal-icon.f-modal-success .f-modal-line, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line {
  background-color: #ffffff;
  border-radius: 2px;
  display: block;
  height: 5px;
  position: absolute;
  z-index: 2;
}
.f-modal-alert .f-modal-icon.f-modal-success .f-modal-line.f-modal-tip, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-tip {
  left: 29px;
  top: 84px;
  transform: rotate(45deg);
  width: 30px;
}
.f-modal-alert .f-modal-icon.f-modal-success .f-modal-line.f-modal-long, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-long {
  right: 13px;
  top: 67px;
  transform: rotate(-45deg);
  width: 75px;
}
.f-modal-alert .f-modal-icon.f-modal-error {
  background-color: #da1e28;
}
.f-modal-alert .f-modal-icon.f-modal-error .f-modal-x-mark {
  display: block;
  position: relative;
  z-index: 2;
}
.f-modal-alert .f-modal-icon.f-modal-error .f-modal-placeholder {
  border: 4px solid rgba(200, 0, 0, 0.2);
}
.f-modal-alert .f-modal-icon.f-modal-error .f-modal-line {
  background-color: #ffffff;
  top: 65px;
  width: 95px;
  border-radius: 10px;
}
.f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-left {
  left: 17px;
  transform: rotate(45deg);
}
.f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-right {
  right: 16px;
  transform: rotate(-45deg);
}
.f-modal-alert .f-modal-icon.f-modal-warning {
  background-color: #F8BB86;
}
.f-modal-alert .f-modal-icon.f-modal-warning:before {
  -webkit-animation: pulseWarning 2s linear infinite;
          animation: pulseWarning 2s linear infinite;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.f-modal-alert .f-modal-icon.f-modal-warning:after {
  background-color: #F8BB86;
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.f-modal-alert .f-modal-icon.f-modal-warning .f-modal-body {
  background-color: #F8BB86;
  border-radius: 2px;
  height: 65px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 20px;
  width: 5px;
  z-index: 2;
}
.f-modal-alert .f-modal-icon.f-modal-warning .f-modal-dot {
  background-color: #F8BB86;
  border-radius: 50%;
  bottom: 20px;
  height: 7px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  width: 7px;
  z-index: 2;
}
.f-modal-alert .f-modal-icon + .f-modal-icon {
  margin-top: 50px;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
          animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
          animation: animateSuccessLong 0.75s;
}

.f-modal-icon.f-modal-success.animate:after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
          animation: rotatePlaceholder 4.25s ease-in;
}

.f-modal-icon.f-modal-error.animate:after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
          animation: rotatePlaceholder 4.25s ease-in;
}

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
          animation: animateErrorIcon 0.5s;
}

.animateXLeft {
  -webkit-animation: animateXLeft 0.75s;
          animation: animateXLeft 0.75s;
}

.animateXRight {
  -webkit-animation: animateXRight 0.75s;
          animation: animateXRight 0.75s;
}

.scaleWarning {
  -webkit-animation: scaleWarning 0.75s infinite alternate;
          animation: scaleWarning 0.75s infinite alternate;
}

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
          animation: pulseWarningIns 0.75s infinite alternate;
}

@-webkit-keyframes animateSuccessTip {
  0%, 54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessTip {
  0%, 54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0%, 65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes animateSuccessLong {
  0%, 65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes rotatePlaceholder {
  0%, 5% {
    transform: rotate(-45deg);
  }
  100%, 12% {
    transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0%, 5% {
    transform: rotate(-45deg);
  }
  100%, 12% {
    transform: rotate(-405deg);
  }
}
@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes animateXLeft {
  0%, 65% {
    left: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    left: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    left: 17px;
    top: 37px;
    width: 47px;
  }
}
@keyframes animateXLeft {
  0%, 65% {
    left: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    left: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    left: 17px;
    top: 37px;
    width: 47px;
  }
}
@-webkit-keyframes animateXRight {
  0%, 65% {
    right: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    right: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    right: 16px;
    top: 37px;
    width: 47px;
  }
}
@keyframes animateXRight {
  0%, 65% {
    right: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    right: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    right: 16px;
    top: 37px;
    width: 47px;
  }
}
@-webkit-keyframes scaleWarning {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleWarning {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulseWarning {
  0% {
    background-color: #F8BB86;
    transform: scale(1);
    opacity: 0.5;
  }
  30% {
    background-color: #F8BB86;
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    background-color: #F8BB86;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulseWarning {
  0% {
    background-color: #F8BB86;
    transform: scale(1);
    opacity: 0.5;
  }
  30% {
    background-color: #F8BB86;
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    background-color: #F8BB86;
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes pulseWarningIns {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}

/* For 404 Page */
/* src/ErrorPage.css */
@import url('https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption');


/* Error Page */
.error {
  overflow-y: hidden;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-area {
  padding-bottom: 30px;
}
.error .clip .shadow
{
    height: 180px;
}
.error .clip:nth-of-type(2) .shadow
{
    width: 130px;   /*Contrall play with javascript*/ 
}
.error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow
{
    width: 250px; /*Contrall*/
}
.error .digit
{
    width: 150px;   /*Contrall*/
    height: 150px;  /*Contrall*/
    line-height: 150px; /*Contrall*/
    font-size: 120px;
    font-weight: bold;
}
.error h2   /*Contrall*/
{
    font-size: 32px;
}
.error .msg /*Contrall*/
{
    top: -190px;
    left: 16%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
}
.error span.triangle    /*Contrall*/
{
    top: 70%;
    right: 0%;
    border-left: 20px solid #535353;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.error .container-error-404
{
  margin-top: 25%;
  position: relative;
  height: 250px;
  padding-top: 40px;
}
.error .container-error-404 .clip
{
    display: inline-block;
    transform: skew(-45deg);
}
.error .clip .shadow
{
    overflow: hidden;
}
.error .clip:nth-of-type(2) .shadow
{
    overflow: hidden;
    position: relative;
    box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150,0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8);
}
.error .clip:nth-of-type(3) .shadow:after, .error .clip:nth-of-type(1) .shadow:after
{
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    z-index: 9999;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
    border-radius: 50%;
}
.error .clip:nth-of-type(3) .shadow:after
{
    left: -8px;
}
.error .digit
{
    position: relative;
    top: 8%;
    color: white;
    background: #07B3F9;
    border-radius: 50%;
    display: inline-block;
    transform: skew(45deg);
}
.error .clip:nth-of-type(2) .digit
{
    left: -10%;
}
.error .clip:nth-of-type(1) .digit
{
    right: -20%;
}
.error .clip:nth-of-type(3) .digit
{
    left: -20%;
}    
.error h2
{
    color: #000;
    font-weight: bold;
    padding-bottom: 20px;
}
.error .msg
{
    position: relative;
    z-index: 9999;
    display: block;
    background: #535353;
    color: #fff;
    border-radius: 50%;
    font-style: italic;
}
.error .triangle
{
    position: absolute;
    z-index: 999;
    transform: rotate(45deg);
    content: "";
    width: 0; 
    height: 0; 
}

/* Error Page */
@media(max-width: 767px)
{
    /* Error Page */
    .error .clip .shadow
    {
        height: 100px;  /*Contrall*/
    }
    .error .clip:nth-of-type(2) .shadow
    {
        width: 80px;   /*Contrall play with javascript*/ 
    }
    .error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow
    {
        width: 100px; /*Contrall*/
    }
    .error .digit
    {
        width: 80px;   /*Contrall*/
        height: 80px;  /*Contrall*/
        line-height: 80px; /*Contrall*/
        font-size: 52px;
    }
    .error h2   /*Contrall*/
    {
        font-size: 24px;
    }
    .error .msg /*Contrall*/
    {
        top: -110px;
        left: 15%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .error span.triangle    /*Contrall*/
    {
        top: 70%;
        right: -3%;
        border-left: 10px solid #535353;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    .error .container-error-404
    {
        height: 150px;
    }
    /* Error Page */
}

/*--------------------------------------------Framework --------------------------------*/

.overlay { position: relative; z-index: 20; } /*done*/
.ground-color {
  background: #ffffff94;
  width: 50%;
  margin: auto;
  border-radius: 15px;
}
.item-bg-color { background: #EAEAEA } /*done*/

/* Padding Section */
.padding-top { padding-top: 10px; } /*done*/
.padding-bottom { padding-bottom: 10px; } /*done*/
.padding-vertical { padding-top: 10px; padding-bottom: 10px; }
.padding-horizontal { padding-left: 10px; padding-right: 10px; }
.padding-all { padding: 10px; } /*done*/
.no-padding-left { padding-left: 0px; } /*done*/
.no-padding-right { padding-right: 0px; } /*done*/
.no-vertical-padding { padding-top: 0px; padding-bottom: 0px; }
.no-horizontal-padding { padding-left: 0px; padding-right: 0px; }
.no-padding { padding: 0px; } /*done*/

/* Margin section */
.margin-top { margin-top: 10px; } /*done*/
.margin-bottom { margin-bottom: 10px; } /*done*/
.margin-right { margin-right: 10px; } /*done*/
.margin-left { margin-left: 10px; } /*done*/
.margin-horizontal { margin-left: 10px; margin-right: 10px; } /*done*/
.margin-vertical { margin-top: 10px; margin-bottom: 10px; } /*done*/
.margin-all { margin: 10px; } /*done*/
.no-margin { margin: 0px; } /*done*/
.no-vertical-margin { margin-top: 0px; margin-bottom: 0px; }
.no-horizontal-margin { margin-left: 0px; margin-right: 0px; }
.inside-col-shrink { margin: 0px 20px; } /*done - For the inside sections that has also Title section*/ 

hr { margin: 0px; padding: 0px; border-top: 1px dashed #999; }
/*--------------------------------------------FrameWork------------------------*/

/* Media Query */
@media (max-width: 1366px) {
  /* side bar */
  .text-title { font-size: 25px; }
  .ppa-accordion > li > .accordion-toggle:checked ~ section { height: 190px; }
  .sidebar-close { width: 7%; }

  /* widget */
  .joms-dashboard-title { height: 65px; }
}